---
layout: default
---

<div class="home">
  <div class="page-heading">
    <h2 class="page-title">On</h2>
  </div>
  <div class="about">
    <div class="container-face">
      <img class="face" src="{{site.baseurl}}/assets/img/{% if site.pic %}{{ site.pic }}{% else %}github.jpg{% endif %}" alt="">
    </div>
    <h2 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}Free File Sharing{% endif %}</h2>
    <div class="about-description">
      <center><p>{% if site.about-description %}{{site.about-description}}{% else %}music, video, apk, etc{% endif %}</p></center>
    </div>
    <div class="contact-contaiver">
      <ul class="contact-list">

      </ul>
    </div>
  </div>
</div>
